
@font-face {
  font-family: 'elegante';
  src: url(../../../assets/Lobster_Two/LobsterTwo-Regular.ttf) format('truetype');
}
.popcon{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 60px;
    font-family: elegante;
    color:#8D7366 ;
}


.icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5), 5px 0 5px -5px rgba(0, 0, 0, 0.5), 0 5px 5px -5px rgba(0, 0, 0, 0.5); 
    padding: 10px 70px; 
    margin: 50px 200px; 
}
.icon {
    text-align: center;
    padding-bottom: 40px;
}
.icon img {

    width: 180px; 
    height: auto; 
}
.icon:nth-child(n+7) {
    margin-top: 28px; 
}
@media screen and (max-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis";
      grid-template-columns: auto;
    }
  }
  
  @media screen and (max-width: 576px) {
    .grid-container {
      display: block;
    }
    .uno,
    .dos,
    .tres,
    .cuatro,
    .cinco,
    .seis {
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .icon-container {
      display: grid;
       grid-template-areas: 
        "one   two   three four  five   six"
        
        "seven  eight   nine ten  eleven    twelve"; 
        grid-template-columns: auto;
        margin: 30px; 
      }
  }
  
  
  @media screen and (max-width: 678px) {
    .icon-container {
      display: grid;
     grid-template-areas: 
      "one   two three"
      "four five six"
      "seven  eight nine"
      "ten  eleven    twelve";
      grid-template-columns: auto;
      margin: 30px; 
    }
  }
  
  
  @media screen and (max-width: 576px) {
    .icon-container {
      display: grid;
     grid-template-areas: 
      "one   two"
      "three four"
      "five six"
      "seven  eight"
      " nine   ten"
      "eleven    twelve";
      
      grid-template-columns: auto;
      margin: 30px; 
    }
  }
.space{
  display: block; 
  height: 70px; 
}