
<div class="popcons">
    <h1 class="popcon">Nuestro patrocinadores...</h1>
    </div>



     <div class="icon-container">
        <div class="icon one">
            <a href="https://www.petco.com/shop/en/petcostore" target="_blank"><img src="../../../assets/imagenes/1.png" alt=""></a>
          
        </div>
        <div class="icon two">
            <a href="https://www.royalcanin.com/mx/cats/products" target="_blank"> <img src="../../../assets/imagenes/2.png" alt=""></a>
            
        </div>
        <div class="icon three">
            <a href="https://purina.com.mx/purina" target="_blank"> <img src="../../../assets/imagenes/3.png" alt=""></a>
        
        </div>
        <div class="icon four">
            <a href="https://stores.petsmart.com/us" target="_blank"> <img src="../../../assets/imagenes/4.png" alt=""></a>
        
        </div>
        <div class="icon five">
            <a href="https://www.amazon.com.mx/?&tag=hydramzkw0mx-20&ref=pd_sl_3yicgzda51_e&adgrpid=150779884501&hvpone=&hvptwo=&hvadid=675154971505&hvpos=&hvnetw=g&hvrand=11410363455261298172&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1010000&hvtargid=kwd-12712441&hydadcr=326_1015003103&gad_source=1" target="_blank"> <img src="../../../assets/imagenes/5.png" alt=""></a>
         
        </div>
        <div class="icon six">
            <a href="https://www.pedigree.com.mx/" target="_blank"> <img src="../../../assets/imagenes/7.png" alt=""></a>
           
        </div>
    </div> 
    <span class="space"></span>



   