
<!-- <img src="../../../assets/imagenes/back1.jpg" alt="">  -->


 <div class="first" style="background-image: url('../../../assets/imagenes/alter.jpg');"> 
    <div class="first small ">

    <p class="po two name">Amor Incondicional</p>
    <br>
    <p class="po three secundario"> "¡Un hogar temporal con un amor eterno!" </p>
    <div class="cont-bot">
        <br>
    <a href="la pagina de fabis aqui" class="boton-redondo si">ADOPTA UN AMIGO</a>
    </div>
    </div>     
</div> 