* {font-family: "Roboto Flex", sans-serif;}
/* Version anterior */
/* div.contenedor {height: 140px;margin: 0;background-color: #252527;}
div.social {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
}
div.icons {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 8%;
    min-height: 20px;
    padding-top: 10px;
    margin-bottom: 3px;
}
a {display: inline-block;}
a:hover{cursor: pointer;}
img  {width: 20px;height: 20px;}
div.line {
    border-bottom: 2px solid #D2B48C;
    min-width: 46%;
    max-height: 20px;
    padding-top:22px;
}
p {
    font-size: 13px;
    margin: 3px 0;
    font-weight: 500;
    color: #D2B48C;
    text-align: center;
}
p.name {
    font-weight: 600px;
    font-size: 18px;
    margin-bottom: 8px;
    letter-spacing: 1px;
} */

/* Nueva verion */
div.contenedor {height: auto;margin: 0;background-color: #252527;padding: 25px 15px 5px 15px;}
div.copy { margin: auto;text-align: center;border-top: 2px solid #D2B48C;}
div.copy > p { 
    font-size: 13px;
    margin: 0;
    font-weight: 500;
    color: #D2B48C;
    text-align: center;
    padding: 3px 0;
}
div.contenido {margin-bottom: 20px;   }
div.contenido > table {color: #D2B48C;border-collapse: collapse;}
td.border-right {border-right: 1px solid #D2B48C;}
table {margin: auto;}
td, th{padding: 10px 50px;font-size: 13px;width: 350px;}
td.contenido-top {vertical-align: top;}
div.divisor {
    border-bottom: 2px solid #D2B48C;
    min-height: 5px;
    margin: 10px 0;
}
div.divisor-2 {min-height: 5px;margin-top: 5px;}
p.titulo {margin: 5px 0 5px 0;text-transform: uppercase;font-size: 15px;}
.texto {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 10px;
    text-align: left;
    color: #D2B48C;
    padding: 5px 0;
}
.link-2 {text-decoration: none;}
td > img {margin-bottom: 5px}
i.y-border {
    height: 15px;
    width: 10%;
    border-bottom: 2px solid #D2B48C;
    margin:15px 10px;    
    color: #D2B48C;
}
p.p-t-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}
i.no-border{height: 5px;}
@media screen and (max-width: 1500px) {
    p.titulo {margin: 5px 0 5px 0;text-transform: uppercase;font-size: 12px;}
    .texto {font-size: 11px;}
    i.y-border {height: 13px;}
    td, th {padding: 10px 35px;}
    td.td-img {padding: 10px 20px;width: 220px;}
    p.p-t-f { width: 230px;}
    div.copy > p {font-size: 10px;}
}