@import "primeicons/primeicons.css";

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0C0C0C;
}

.cita{
    border-top: 4px solid #C09D89;
    border-bottom: 4px solid #C09D89;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f2bd8ecc;
    overflow: hidden;
}

.no-sel{
    display: none;
}

.tarjeta{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.caja{
    overflow: hidden;
    margin-bottom: 30px;
}

.caja img{
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid #C09D89;
    display: block;
}

.carac{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.dato p, .dato i{
    margin: 0;
    padding: 0;
}

.dato{
    display: flex;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #0C0C0C;
    padding: 5px;
    margin: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interesado{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 40px;
}

.interesado label{
    font-size: 18px;
}

input{
    border-radius: 5px;
    border: 1px solid #C09D89;
    padding: 5px;
}

.btn-registrar{
    display: flex;
    justify-content: center;
}