* {font-family: "Roboto Flex", sans-serif;}

.menu {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 300;
}

nav{
    height: 75px;
    border-bottom: 3px solid #74502b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
}

a {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    height: 100%;
    padding: 20px 20px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    color: #654321;
    /* border: 1px solid blue; */
}

a.logo {
    height: 150px;
    border-radius: 50%;
    width: 150px;
    border: 3px solid #74502b;
    display: inline-block;
    padding: 0;
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
}

a.logo-fake {width: 150px;}

.active{
    font-weight: bold;
    color: #74502b;
    text-decoration: 0.1rem underline ;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
}

input {
    border: 1px solid #654321;
    border-radius: 5px;
    width: 200px;
    font-size: 15px;
    padding-inline-start: 5px;
    height: 35px;
}


@media screen and (max-width: 1500px){
    a {width: 205px; padding: 20px 10px;}
    a.a-logo-fake {width: 150px;}
    a.a-search {width: 205px; padding:20px 0;}
    input {width: 180px;}
}