<div class="menu">
    <nav> 
      <a class="a-fake2"></a>
      <a routerLink="/contacto" routerLinkActive="active">Nuetras Mascotas</a> 
      <a routerLink="/contacto" routerLinkActive="active">Como Ayudar?</a>
      <a class="logo" routerLink="/contacto" routerLinkActive="active"><img src="../../../assets/media/logo-AI.jpg" alt="..."></a>
      <a class="logo-fake"></a>
      <a routerLink="/contacto" routerLinkActive="active">Nosotros</a>
      <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
      <a class="a-search">
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-search" />
          <input type="text" pInputText placeholder="Search" />
      </p-iconField>
      </a>
    </nav>
</div>

<router-outlet></router-outlet>