<body>
    <h2>Recursos educativos para adoptantes</h2>

    <section id="adopcion-responsable">
        <h3>Adopción Responsable: Un Paso Importante hacia el Amor Incondicional</h3>
        <p>La adopción responsable no solo implica traer una mascota a tu hogar, sino comprometerte con una vida llena
            de amor, cuidado y responsabilidad. Aquí encontrarás valiosa información para asegurarte de que estás listo
            para dar este importante paso y darle un hogar a un ser necesitado.</p>
        <p>Algunos aspectos clave a considerar antes de adoptar:</p>

        <!-- Carrusel Boostrap dog's -->
        <div id="carouselEdu" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselEdu" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/img/apt1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Investigación</h5>
                        <p
                            style="background-color:black; display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Dedica tiempo a investigar sobre la mascota adecuada para ti y tu estilo
                            de vida.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/apt2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Preparación del hogar</h5>
                        <p
                            style="background-color:black; display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Asegúrate de tener todo listo para recibir al nuevo miembro de la familia, incluyendo un
                            lugar cómodo para dormir, juguetes y comida adecuada.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/apt3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Elegir un refugio o criador ético</h5>
                        <p
                            style="background-color:black; display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Busca refugios que promuevan la adopción responsable
                            y criadores que críen sus mascotas de manera ética y responsable.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/apt4.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Compromiso a largo plazo</h5>
                        <p
                            style="background-color:black; display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 15px;">
                            La adopción es un compromiso a largo plazo. Asegúrate de estar
                            listo para cuidar y amar a tu mascota durante toda su vida.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/apt5.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Consulta con un veterinario</h5>
                        <p
                            style="background-color:black; display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Antes de adoptar, consulta con un veterinario para obtener
                            consejos sobre la salud y el cuidado de mascotas, y asegúrate de que tu mascota esté al día
                            con las vacunas y exámenes de salud.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/apt6.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5
                            style="background-color:rgb(107, 66, 66); display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 20px;">
                            Considera adoptar mascotas mayores:</h5>
                        <p
                            style="background-color:black; display: block; width: 800px; margin-left: auto; margin-right: auto; padding: 15px;">
                            Las mascotas mayores a menudo son pasadas por alto,
                            pero pueden ser maravillosas compañeras. Considera adoptar un animal mayor y bríndale un
                            hogar lleno de amor en sus años dorados.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselEdu" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselEdu" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>


    <section id="preparacion-hogar">
        <h3>Preparación del Hogar</h3>
        <p>Antes de traer a tu nueva mascota a casa, es importante asegurarte de que esté preparada para recibirlos.
            Aquí hay algunos consejos para preparar tu hogar:</p>

        <div class="row">
            <div class="col-sm-3 mb-4">
                <div class="card" style="width: 19rem; background-color: rgb(238, 179, 205);">
                    <img src="../../assets/img/ph1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Crear un espacio seguro y acogedor para tu mascota.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card" style="width: 19rem; background-color: rgb(238, 179, 205);">
                    <img src="../../assets/img/ph2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Comprar los suministros necesarios, como comida, juguetes y una cama
                            cómoda.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card" style="width: 19rem; background-color: rgb(238, 179, 205);">
                    <img src="../../assets/img/ph3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Eliminar los peligros potenciales, como productos químicos tóxicos o cables
                            eléctricos sueltos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card" style="width: 19rem; background-color: rgb(238, 179, 205);">
                    <img src="../../assets/img/ph4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Instalar una puerta de seguridad o barreras para restringir áreas
                            peligrosas.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card" style="width: 19rem; background-color: rgb(238, 179, 205);">
                    <img src="../../assets/img/ph5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Colocar los objetos frágiles o valiosos fuera del alcance de tu mascota.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card" style="width: 19rem; background-color: rgb(238, 179, 205);">
                    <img src="../../assets/img/ph6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Crear un horario diario para alimentación, paseos y tiempo de juego.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card" style="width: 19rem; background-color: rgb(238, 179, 205);">
                    <img src="../../assets/img/ph7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Establecer un área designada para que tu mascota haga sus necesidades y
                            entrenarlos en su uso.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="consejos-entrenamiento">
        <h3>Consejos de Entrenamiento</h3>
        <p>Una vez que hayas traído a tu nueva mascota a casa, es importante comenzar con el entrenamiento lo antes
            posible. Aquí hay algunos consejos útiles:</p>
        <!-- Agregar imagen -->
        <div class="image-container">
            <img src="../../assets/img/consejos_entrenamiento.jpg" alt="Consejos de entrenamiento">
        </div>
        <ul>
            <li>Establecer rutinas y límites claros desde el principio.</li>
            <li>Usar refuerzos positivos, como golosinas y elogios, para reforzar buenos comportamientos.</li>
            <li>Considerar la posibilidad de inscribirte en clases de obediencia o buscar la ayuda de un entrenador
                profesional si es necesario.</li>
            <li>Ser paciente y consistente en el entrenamiento, y celebrar los pequeños logros de tu mascota.</li>
            <li>Evitar castigos físicos o gritos, ya que pueden causar miedo y estrés en tu mascota.</li>
            <li>Proporcionar ejercicio regular y estimulación mental para mantener a tu mascota feliz y saludable.</li>
        </ul>
    </section>

    <section id="preguntas-frecuentes">
        <h3>Preguntas frecuentes</h3>
        <p>¿Tienes preguntas sobre la adopción de mascotas? Aquí tienes algunas respuestas a preguntas comunes:</p>
        <ul>
            <li>
                <h4>¿Qué debo considerar antes de adoptar un gato?</h4>
                <p>Antes de adoptar un gato, es importante considerar factores como el tiempo disponible para cuidarlo,
                    los gastos asociados con la alimentación y atención médica, y si tu hogar es adecuado para un gato.
                </p>
            </li>
            <li>
                <h4>¿Cuánto tiempo puede estar solo un perro durante el día?</h4>
                <p>El tiempo que un perro puede estar solo depende de varios factores, como la edad, la raza y el
                    temperamento del perro. En general, se recomienda no dejar a un perro solo por más de 4-6 horas al
                    día.</p>
            </li>
            <li>
                <h4>¿Qué debo hacer si mi mascota se escapa?</h4>
                <p>Si tu mascota se escapa, es importante actuar rápidamente. Busca en tu vecindario, llama a los
                    refugios locales y publica en redes sociales y sitios web de mascotas perdidas. También asegúrate de
                    tener una identificación actualizada con la información de contacto.</p>
            </li>
            <li>
                <h4>¿Cuál es la mejor edad para esterilizar o castrar a mi mascota?</h4>
                <p>La mejor edad para esterilizar o castrar a tu mascota depende de su especie, tamaño y salud general.
                    En general, se recomienda esterilizar o castrar a los perros y gatos antes de que alcancen la
                    madurez sexual, generalmente entre los 4 y 6 meses de edad.</p>
            </li>
            <li>
                <h4>¿Qué debo hacer si mi mascota muestra signos de enfermedad?</h4>
                <p>Si tu mascota muestra signos de enfermedad, como falta de apetito, letargo o vómitos, es importante
                    llevarla al veterinario lo antes posible. El veterinario puede realizar un diagnóstico y
                    proporcionar el tratamiento adecuado para ayudar a tu mascota a recuperarse.</p>
            </li>
        </ul>
    </section>

    <!-- Agregar formulario de contacto -->
    <section id="contacto">
        <h3>Contacto</h3>
        <p>¿Tienes más preguntas o necesitas ayuda adicional? ¡Contáctanos!</p>
        <form>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">
            <label for="correo">Correo electrónico:</label>
            <input type="email" id="correo" name="correo">
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="4"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </section>


</body>