/* Estilos para el fondo de la página */
body {
    background-color: #e5bfad;
    /* Color de fondo más oscuro */
}

.container {
    background-color: #FFFFFF;
    /* Color de fondo del contenedor principal */
    padding: 20px;
    /* Añadir un relleno al contenedor */
    border-radius: 20px;
    /* Bordes redondeados para un aspecto suave */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Sombra suave para el contenedor */
}

/* Estilos para el título de la página */
h2 {
    font-size: 48px;
    /* Tamaño grande para llamar la atención */
    margin-bottom: 20px;
    /* Espacio inferior para separar el título del contenido */
    color: #58433E;
    /* Color de texto cálido */
    text-align: center;
    /* Centrar el título */
    text-transform: uppercase;
    /* Convertir texto a mayúsculas */
    font-family: 'Lobster Two', cursive;
    /* Fuente Lobster Two */
}

h2::before {
    content: "\2764";
    /* Corazón como contenido antes del título */
    display: block;
    /* Mostrar en una línea separada */
    font-size: 60px;
    /* Tamaño grande para el corazón */
    color: #C09D89;
    /* Color del corazón */
    margin-bottom: 10px;
    /* Espacio inferior para separar el corazón del título */
}

h2::after {
    content: "\2764";
    /* Corazón como contenido después del título */
    display: block;
    /* Mostrar en una línea separada */
    font-size: 60px;
    /* Tamaño grande para el corazón */
    color: #C09D89;
    /* Color del corazón */
    margin-top: 10px;
    /* Espacio superior para separar el corazón del título */
}


/* Estilos para los títulos de sección */
h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #0C0C0C;
    font-family: 'Lobster Two', cursive;
}

/* Estilos para las secciones */
section {
    background-color: #C09D89;
    padding: 20px;
    max-width: 95%;
    margin: 40px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Agregar sombra suave */
    transition: transform 0.3s ease;
    /* Agregar transición suave */
}

section:hover {
    transform: translateY(-5px);
    /* Efecto de levantamiento al pasar el mouse */
}

/* Estilos para los puntos */
ul {
    list-style-type: none;
    /* Eliminar los puntos predeterminados */
    padding-left: 0;
    /* Eliminar el relleno izquierdo */
}

ul li {
    position: relative;
    /* Establecer posición relativa para los elementos de la lista */
    padding-left: 20px;
    /* Agregar espacio a la izquierda para los puntos */
    margin-bottom: 10px;
    /* Agregar espacio inferior entre los elementos de la lista */
}

ul li::before {
    content: "\2022";
    /* Utilizar el carácter del punto */
    position: absolute;
    /* Establecer posición absoluta */
    left: 0;
    /* Alinear a la izquierda */
    color: #C09D89;
    /* Color del punto */
    font-size: 20px;
    /* Tamaño del punto */
    line-height: 1;
    /* Alinear verticalmente con el texto */
}


/* Estilos para las imágenes */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* Estilos para los formularios */
form {
    max-width: 400px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #58433E;
    /* Color de texto para los labels */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #F2BC8E;
    /* Color de fondo del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #C09D89;
    /* Color de fondo del botón al pasar el mouse */
}

/* Estilos para la sección principal de la página */
#adopcion-responsable {
    background-color: #F2BC8E;
    /* Color de fondo cálido */
    padding: 50px;
    /* Aumentar el espacio interno */
    border-radius: 20px;
    /* Bordes redondeados para un aspecto más suave */
    text-align: left;
    /* Alineación del texto a la izquierda */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Sombra suave para levantar la sección */
}

#adopcion-responsable li {
    font-size: 20px;
}

#adopcion-responsable h3 {
    color: #58433E;
    /* Color del título */
    font-size: 32px;
    /* Tamaño del título más grande */
    margin-bottom: 20px;
    /* Espacio inferior al título */
}

#adopcion-responsable p {
    color: #8D7366;
    /* Color del texto */
    font-size: 20px;
    /* Tamaño del texto */
    line-height: 1.6;
    /* Espaciado entre líneas */
}

#carrusel-adopcion {
    display: flex;
    /* Mostrar las imágenes en línea */
    justify-content: space-between;
    /* Espaciar uniformemente las imágenes */
    margin-bottom: 30px;
    /* Agregar espacio inferior */
}

#carrusel-adopcion img {
    max-width: 200px;
    /* Tamaño máximo para las imágenes */
    border-radius: 10px;
    /* Bordes redondeados para las imágenes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para las imágenes */
}

.video-container {
    margin-bottom: 30px;
    /* Agregar espacio inferior */
}

.video-container iframe {
    width: 100%;
    /* Hacer que el video se ajuste al contenedor */
    height: 400px;
    /* Establecer una altura fija para el video */
    border-radius: 10px;
    /* Bordes redondeados para el video */
}

/* Estilos para la sección de "Preparación del Hogar" */
#preparacion-hogar {
    background-color: #FFFFFF;
    /* Color de fondo */
    padding: 40px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

#preparacion-hogar h3 {
    color: #58433E;
    /* Color del título */
    font-size: 24px;
    /* Tamaño del título */
    margin-bottom: 20px;
    /* Espacio inferior */
}

#preparacion-hogar p {
    color: #8D7366;
    /* Color del texto */
    font-size: 18px;
    /* Tamaño del texto */
    line-height: 1.6;
    /* Espaciado entre líneas */
}

.image-container {
    position: relative;
    /* Posición relativa para alinear la superposición */
    margin-bottom: 20px;
    /* Espacio inferior */
    overflow: hidden;
    /* Ocultar el desbordamiento de la imagen animada */
}

.image-container img {
    max-width: 100%;
    /* Imagen responsiva */
    transition: transform 0.5s ease;
    /* Transición suave para la animación */
}

.image-overlay {
    position: absolute;
    /* Posición absoluta para la superposición */
    top: 0;
    /* Alinear al borde superior */
    left: 0;
    /* Alinear al borde izquierdo */
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    background-color: rgba(0, 0, 0, 0.5);
    /* Color de superposición */
    opacity: 0;
    /* Ocultar la superposición inicialmente */
    transition: opacity 0.5s ease;
    /* Transición suave para la opacidad */
}

.image-container:hover .image-overlay {
    opacity: 1;
    /* Mostrar la superposición al pasar el ratón */
}

/* Estilos para la sección de "Consejos de Entrenamiento" */
#consejos-entrenamiento {
    background-color: #e1d8d3;
    /* Color de fondo */
    padding: 40px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    text-align: center;
    /* Centrar el contenido */
}

#consejos-entrenamiento h3 {
    color: #0C0C0C;
    /* Color del título */
    font-size: 24px;
    /* Tamaño del título */
    margin-bottom: 20px;
    /* Espacio inferior */
}

#consejos-entrenamiento p {
    color: #58433E;
    /* Color del texto */
    font-size: 18px;
    /* Tamaño del texto */
    line-height: 1.6;
    /* Espaciado entre líneas */
}

.image-container {
    position: relative;
    /* Posición relativa para alinear la superposición */
    margin-bottom: 20px;
    /* Espacio inferior */
    overflow: hidden;
    /* Ocultar el desbordamiento de la imagen animada */
}

.image-container img {
    max-width: 100%;
    /* Imagen responsiva */
    transition: transform 0.5s ease;
    /* Transición suave para la animación */
}

.image-overlay {
    position: absolute;
    /* Posición absoluta para la superposición */
    top: 0;
    /* Alinear al borde superior */
    left: 0;
    /* Alinear al borde izquierdo */
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    background-color: rgba(0, 0, 0, 0.5);
    /* Color de superposición */
    opacity: 0;
    /* Ocultar la superposición inicialmente */
    transition: opacity 0.5s ease;
    /* Transición suave para la opacidad */
}

.image-container:hover .image-overlay {
    opacity: 1;
    /* Mostrar la superposición al pasar el ratón */
}

#consejos-entrenamiento ul {
    list-style-type: none;
    /* Eliminar los puntos predeterminados */
    padding-left: 0;
    /* Eliminar el relleno izquierdo */
}

#consejos-entrenamiento ul li {
    color: #58433E;
    /* Color del texto de los elementos de la lista */
    font-size: 20px;
    /* Tamaño del texto de los elementos de la lista */
    margin-bottom: 10px;
    /* Espacio inferior entre los elementos de la lista */
    text-align: left;
    /* Alinear el texto a la izquierda */
}

#consejos-entrenamiento ul li:before {
    content: "\2022";
    /* Utilizar el carácter del punto */
    color: #F2BC8E;
    /* Color del punto */
    font-size: 16px;
    /* Tamaño del punto */
    margin-right: 5px;
    /* Espacio a la derecha del punto */
}

/* Estilos para la sección de preguntas frecuentes */
#preguntas-frecuentes {
    background-color: #FFFFFF;
    /* Color de fondo */
    padding: 40px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

#preguntas-frecuentes h3 {
    color: #58433E;
    /* Color del título */
    font-size: 24px;
    /* Tamaño del título */
    margin-bottom: 20px;
    /* Espacio inferior */
}

#preguntas-frecuentes p {
    color: #8D7366;
    /* Color del texto */
    font-size: 18px;
    /* Tamaño del texto */
    line-height: 1.6;
    /* Espaciado entre líneas */
}

#preguntas-frecuentes ul {
    padding-left: 0;
    /* Eliminar el relleno izquierdo de la lista */
}

#preguntas-frecuentes li {
    border-bottom: 1px solid #C09D89;
    /* Borde inferior */
    padding-bottom: 20px;
    /* Espacio inferior entre preguntas y respuestas */
}

#preguntas-frecuentes h4 {
    color: #58433E;
    /* Color del título de la pregunta */
    font-size: 20px;
    /* Tamaño del título de la pregunta */
    margin-bottom: 10px;
    /* Espacio inferior */
}

#preguntas-frecuentes p {
    color: #58433E;
    /* Color del texto de la respuesta */
    font-size: 18px;
    /* Tamaño del texto de la respuesta */
}

/* Estilos para la sección de contacto */
#contacto {
    background-color: #453830; /* Color de fondo */
    padding: 50px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto al centro */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-top: 50px; /* Espacio superior */
}

#contacto h3 {
    color: #966b6b; /* Color del título */
    font-size: 32px; /* Tamaño del título */
    margin-bottom: 20px; /* Espacio inferior */
}

#contacto p {
    color: #f5c4c4; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
    margin-bottom: 30px; /* Espacio inferior */
}

#contacto form {
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar horizontalmente */
}

#contacto label {
    display: block; /* Mostrar los labels en bloques */
    margin-bottom: 10px; /* Espacio inferior */
    color: #f1bebe; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
}

/* Estilos para las áreas de entrada */
#contacto input[type="text"],
#contacto input[type="email"],
#contacto textarea {
    width: 100%; /* Ancho completo */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio inferior */
    border: 2px solid #0C0C0C; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    transition: border-color 0.3s ease; /* Transición suave */
}

#contacto textarea {
    resize: vertical; /* Permitir el redimensionamiento vertical */
}

#contacto input[type="text"]:focus,
#contacto input[type="email"]:focus,
#contacto textarea:focus {
    border-color: #F2BC8E; /* Cambiar el color del borde al enfocar */
    outline: none; /* Quitar el contorno predeterminado */
}



#contacto button[type="submit"] {
    background-color: #F2BC8E; /* Color de fondo del botón */
    color: #FFFFFF; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    font-size: 20px; /* Tamaño del texto */
    transition: background-color 0.3s ease; /* Transición suave */
}

#contacto button[type="submit"]:hover {
    background-color: #C09D89; /* Color de fondo del botón al pasar el mouse */
}
