<div class="out">
<table>
    <tr>
        <td><img src="../../../assets/imagenes/cat.jpg" alt=""></td>
        <td>
    <div class="right">
        <h2 class="tit">Registrate para recibir nuestras noticias</h2>
        <form >
            
            <input class="holder" type="text" name="nombre" placeholder="Nombre" required>
            <span class="spacer"></span> 
            <input class="holder" type="text" placeholder="Apellido" required>
            <span class="space"></span>
        
                <input class="holdermail" type="email" id="email" name="email" placeholder="Correo" required>
            
                <span class="space"></span>
        
                <textarea  class="holdertext" rows="4" cols="50" placeholder="Tu mensaje" required></textarea>
            
                <span class="space"></span>
                
                <input type="submit" class="boton-redondo si" value="ENVIAR">
            
        </form>
    </div>
        </td>
    </tr>
</table>
</div>
<span class="spacedown"></span>